### String Interpolation

In [1]:
name = "Jill"

interpolation = f"Hello, {name}"

# result > 'Hello, Jill'

greeting_format = "Hello, {}. How are you?"

formatted = greeting_format.format(name)

# result > 'Hello, Jill. How are you?

print(interpolation)
print(formatted)

Hello, Jill
Hello, Jill. How are you?

### String Utilities

In [2]:
"hello,world".upper()

# result > 'HELLO, WORLD'

'HELLO,WORLD'

In [3]:
"HELLO, WORLD".lower()

# result > 'HELLO, WORLD'

'hello, world'

In [4]:
"Hello, Jill".replace("Hello", "Hey")

# result > 'Hey, Jill'

'Hey, Jill'

### List Slices

In [5]:
NAMES = ["John", "Paul", "George", "Ringo"]
AGES = [20, 21, 22, 23]

In [6]:
NAMES[0]
# result > 'John'

'John'

In [7]:
NAMES[1]
# result > 'Paul'

'Paul'

In [8]:
NAMES[:2]
# result > ['John', 'Paul']

['John', 'Paul']

In [9]:
NAMES[2:]
# result > ['George', 'Ringo']

['George', 'Ringo']

In [10]:
NAMES[::-1]
# result > ['Ringo', 'George', 'Paul', 'John']

['Ringo', 'George', 'Paul', 'John']

In [11]:
NAMES[::2]
# result > ['John', 'George']

['John', 'George']

### List Utilities

In [12]:
sum(AGES)
# result > 86

86

In [13]:
min(AGES)
# result > 20

20

In [14]:
max(AGES)
# result > 23

23

### Iteration Utilities

In [15]:
# Looping through each name in NAMES
for name in NAMES:
    print(name)
# result > 'John', 'Paul', 'George', 'Ringo'

John
Paul
George
Ringo

In [16]:
# Looping through each name and age using zip
for name, age in zip(NAMES, AGES):
    print(f"{name} {age}")
# result > 'John 20', 'Paul 21', 'George 22', 'Ringo 23'

John 20
Paul 21
George 22
Ringo 23

In [17]:
# Looping through NAMES in reverse order
for name in reversed(NAMES):
    print(name)
# result > 'Ringo', 'George', 'Paul', 'John'

Ringo
George
Paul
John

In [18]:
# Using range to print numbers 0 through 4
for i in range(5):
    print(i)
# result > 0, 1, 2, 3, 4

0
1
2
3
4

In [19]:
# Using enumerate to get index and name from NAMES
for i, name in enumerate(NAMES):
    print(f"{i} {name}")
# result > '0 John', '1 Paul', '2 George', '3 Ringo'

0 John
1 Paul
2 George
3 Ringo