In [ ]:
import pandas as pd 
import matplotlib

In [2]:
nds = pd.read_csv('Data_Set/netflix_titles.csv')
nds

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [3]:
nds.shape # this will give us the number of rows and columns in the dataset

(8807, 12)

In [4]:
nds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
nds.isna().sum() # this will give us the number of missing values in each column in the DataFrame.

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [6]:
# get total number of missing rows in the DataFrame
nds.isna().sum().sum() # this will give us the total number of missing values in the DataFrame.

np.int64(4307)

In [7]:
(nds.isna().sum().sum() / nds.shape[0]) * 100 # this will give us the percentage of missing values in the DataFrame.

np.float64(48.904280685818094)

In [8]:
nds = nds.dropna() # this will drop all the rows with missing values in the DataFrame.

In [9]:
# to comform shape after dropping missing rows
nds.shape # this will give us the number of rows and columns in the dataset after dropping missing values

(5332, 12)

In [10]:
nds.isna().sum() # this will give us the number of missing values in each column in the DataFrame after dropping missing values.

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [11]:
nds.duplicated() # this will give us a boolean Series indicating whether each row is a duplicate or not

7       False
8       False
9       False
12      False
24      False
        ...
8801    False
8802    False
8804    False
8805    False
8806    False
Length: 5332, dtype: bool

In [12]:
nds.duplicated().sum() # this will give us the number of duplicate rows in the DataFrame.

# in case we want to drop the duplicate rows, we can use the following code:
# nds.drop_duplicates(inplace=True) # this will drop all the duplicate rows in the DataFrame

np.int64(0)

In [13]:
nds['date_added'].dtype # this will give us the data type of the 'date_added' column in the DataFrame.

dtype('O')

In [14]:
type(nds['date_added'].iloc[0]) # this will give us the data type of the first element in the 'date_added' column in the DataFrame.

str

In [15]:
nds['date_added'] = pd.to_datetime(nds['date_added'], errors='coerce') # this will convert the 'date_added' column to datetime format, and set errors='coerce' to handle any invalid dates by converting them to NaT (Not a Time)

C:\Users\dines\AppData\Local\Temp\ipykernel_20176\1565968941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nds['date_added'] = pd.to_datetime(nds['date_added'], errors='coerce') # this will convert the 'date_added' column to datetime format, and set errors='coerce' to handle any invalid dates by converting them to NaT (Not a Time)

In [16]:
nds['date_added'] # this will give us the 'date_added' column in the DataFrame after converting it to datetime format.

7      2021-09-24
8      2021-09-24
9      2021-09-24
12     2021-09-23
24     2021-09-21
          ...
8801   2016-03-09
8802   2019-11-20
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 5332, dtype: datetime64[ns]

In [17]:
nds['date_added'].isna().sum() # this will give us the number of missing values in the 'date_added' column after converting it to datetime format.

np.int64(4)

In [18]:
nds.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      4
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [19]:
nds['release_year'].dtype # this will give us the data type of the 'release_year' column in the DataFrame.

dtype('int64')